//Colors=====================================================
$blue-color1: #0c1163;
$violet-color1: #8d6391;
$violet-color2: #ddc8ff;
$beige-color1: #f2e7d6;
$yellow-color1: #ffc72f;
$orange-color1: #FF8801;
$green-color1: #5cb85c;

$transition1: linear .2s;

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
);
