<app-manage-recipe [cancelText]="'Cancel'" [confirmText]="'Save'"></app-manage-recipe>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="global-actions">
            <button (click)="addRecipe()" type="button" class="btn btn-success" href="#">Add recipe</button>
        </div>
        <div class="cook-book">
            <div class="header table-row">
                <div class="item name">
                    Name
                </div>
                <div class="item description">
                    Description
                </div>
                <div class="item creation-date">
                    Creation Date
                </div>
                <div class="item actions">
                    Actions
                </div>
            </div>
            <div *ngFor="let recipe of recipes" class="recipe table-row">
                <div class="item name">
                    {{recipe.data?.name}}
                </div>
                <div class="item description">
                    {{recipe.data?.description}}
                </div>
                <div class="item creation-date">
                    {{recipe.dateCreated | date: 'medium'}}
                </div>
                <div class="item actions">
                    <span class="lnr lnr-pencil action edit"
                        (click)="editRecipe(recipe)" title="Edit">
                    </span>
                    <span class="lnr lnr-trash action delete"
                        (click)="deleteRecipe(recipe)" title="Delete">
                    </span>
                    <span class="lnr lnr-history action delete"
                        [routerLink]="['/recipe', recipe.id, 'history']" title="View history">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

