@import "../../../assets/scss/variables";

.global-actions {
    margin: 15px 0;
}

.recipe-revisions {
    .table-row {
        min-height: 45px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .item {
            padding: 10px 15px;
        }
    }

    .header {
        background-color: burlywood;
        font-weight: bold;
    }

    .recipe {
        display: flex;
        background-color: blanchedalmond;
        margin: 0 0 20px 0;

        * {
            overflow: hidden;
        }
    }

    .name {
        flex: 1 1 100px;
        font-weight: bold;
    }

    .description {
        flex: 2 1 200px;
    }

    .edit-date {
        flex: 1 1 200px;
    }

    .version {
        flex: 1 1 100px;
    }

    .actions {
        flex: 1 1 100px;
        display: flex;

        .action {
            text-decoration: none;
            cursor: pointer;
            margin: 0 12px 0 0;
            font-size: 18px;

            &.view {
                color: $green-color2;
            }
        }
    }
}
