@import "../../../assets/scss/variables";

:host {
    z-index: 8;
    position: relative;
    display: block;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
    }

    .dialog-inner {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 540px;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: map_get($grid-breakpoints, md)) {
            left: 0;
            top: 20%;
            width: 100%;
            transform: none;
        }

        .close {
            font-size: 20px;
            position: absolute;
            line-height: 1;
            top: 20px;
            right: 20px;
            transition: all $transition1;
            color: $violet-color1;
            border-radius: 50%;
            background-color: $beige-color1;
            opacity: 1;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            .lnr {
                font-weight: bold;
            }

            &:hover, &:active {
                text-decoration: none;
                transform: scale(1.2);
            }
        }

        .header {
            background-color: $yellow-color1;
            /*height: 60px;*/
            padding-left: 20px;
            border-bottom: 1px solid $beige-color1;
            display: flex;
            align-items: center;

            > * {
                margin: 20px 0;
            }
        }

        .content {
            margin: 35px 20px;
        }

        .buttons {
            margin-bottom: 28px;
            display: flex;
            justify-content: center;

            .button {
                width: 100px;
            }

            .button:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}
