@import "../assets/scss/variables";

.page-nav-header {
    .title {
        margin: 40px 0 40px;
        text-align: center;
        h1 {
            color: $violet-color1;
        }
    }
}

.page-content {

}

.page-footer {

}
